<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
    <style>
        TABLE {
            width: 300px;
            border-collapse: collapse;
        }
        TD, TH {
            padding: 3px;
            border: 1px solid black;
        }
        TH {
            background: #b0e0e6;
        }
    </style>
</head>
<body>
<table>
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>LastName</th>
        <th>Email</th>
    </tr>
    <th:block th:each="user : ${users}">
        <tr>
            <td th:text="${user.id}"></td>
            <td th:text="${user.name}"></td>
            <td th:text="${user.lastName}"></td>
            <td th:text="${user.email}"></td>

            <td><form th:method="GET" th:action="@{{id}/edit(id=${user.getId()})}">
                <input type="submit" value="Edit"/>
            </form></td>

            <td><form th:method="DELETE" th:action="@{{id}(id=${user.getId()})}">
                <input type="submit" value="Remove"/>
            </form></td>

        </tr>
    </th:block>
</table>
<br/>

<form th:method="GET" th:action="@{new}">
    <input type="submit" value="Add new user"/>
</form>
</body>
</html>